body {
    margin: 0;
    padding: 0;
    background: linear-gradient(blue, purple, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.main {
    background: radial-gradient(yellow, red, black);
    height: 600px;
    width: 600px;
    position: relative;
    border-radius: 10px;
    margin-left: 15px;
}

.line {
    width: 100%;
    height: 200px;
    font-size: 0;
}

.table {
    background: linear-gradient(rgb(149, 255, 0), rgb(255, 0, 0), rgb(49, 11, 11));
    height: 100%;
    width: 200px;
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
}

.table:hover {
    background: linear-gradient(rgb(49, 11, 11), rgb(255, 0, 0), rgb(149, 255, 0));
    height: 100%;
    width: 200px;
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
}

.table1 {
    /*transition doesnt work properly with gradients*/
    background: linear-gradient(rgb(149, 255, 0), rgb(255, 0, 0), rgb(49, 11, 11));
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 615px;
    transition-timing-function: ease-in;
    transition: 2s;
    /* if transition write here it slowly back when you unhover.*/
}

.table1:hover {
    /*transition doesnt work properly with gradients*/
    background: red;

    border-radius: 10px;
    margin-left: 200px;
}

h1 {
    margin: 0;
    padding: 0;
    color: red;
    background-color: black;
    height: 60px;
}