body {
    margin: 0;
    background: black;
    background: linear-gradient(to bottom, red, yellow, black);


    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

h2 {
    color: rgb(219, 114, 114);
    margin: 0;
    text-align: center;
    text-decoration: rgb(0, 0, 0) underline;
    font-family: fantasy, 'Times New Roman', Times, serif;
    font-weight: 100;
}

p {
    text-align: center;
    font-family: arial;
    font-weight: 700;
    font-size: 15px;
}