body {
    background: linear-gradient(rgb(143, 139, 139), rgb(179, 109, 179), rgb(64, 174, 238), rgb(179, 109, 179), rgb(143, 139, 139));
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Explora', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

.container_main {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 700px;
    width: 60%;
    border-radius: 10px;
    justify-content: space-between;
}

#each_panel {
    width: 250px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.price_panel_ny {
    height: auto;
    background-image: url("https://images.pexels.com/photos/2224861/pexels-photo-2224861.png?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.price_panel_lnd {
    height: auto;
    background-image: url("https://images.pexels.com/photos/1427581/pexels-photo-1427581.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.price_panel_ist {
    height: auto;
    background-image: url("https://images.pexels.com/photos/3613958/pexels-photo-3613958.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    display: none;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 5px;
}

li {
    display: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
}

.list {
    background-color: rgba(255, 255, 255, 0.432);
    height: auto;
    width: auto;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: 250px;
}

.buy {
    display: none;
    height: 40px;
    width: 100px;
    margin-bottom: 15px;
}

button {
    background: rgba(0, 0, 0, 0.614);
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(249, 248, 248);
    transition: all .2s;
}

button:hover {
    background: rgba(133, 13, 13, 0.382);
    transform: translateX(-1px) translateY(-1px);
}

#each_panel:hover {
    background-image: url(https://img.freepik.com/free-photo/travel-concept-with-lugagge-hat_23-2149030570.jpg?w=740&t=st=1674700880~exp=1674701480~hmac=d2b22c7c9055579a4e57df20588bac155bdc1b7e95aaf8af82c6394e63b91bc7);
}

#each_panel:hover h1 {
    display: block;
}

#each_panel:hover li {
    display: block;
}

#each_panel:hover .buy {
    display: block;
}

@media (max-width: 1300px) {
    .container_main {
        flex-direction: column;
        align-items: center;
    }
}